<footer>
    <div class="row primary">
        <div class="column about">

            <h3>Aqiqah Qurban</h3>

            <p>
                Melayani jasa Pemotongan,Catering
                Jual Daging Peternakan.
            </p>

            <div class="social">
                <a href="{{company:facebook}}"><i class="fa-brands fa-facebook-square"></i></a>
                <a href="{{company:instagram}}"><i class="fa-brands fa-instagram-square"></i></a>
                <a href="{{company:whatsapp}}"><i class="fa-brands fa-whatsapp-square"></i></a>
            </div>
        </div>

        {{# <div class="column links">
            <h3>Help Desk</h3>

            <ul>

                <li>
                    <a href="#faq">F.A.Q</a>
                </li>
                <li>
                    <a href="#cookies-policy">About</a>
                </li>
                <li>
                    <a href="#terms-of-services">Terms Of Service</a>
                </li>
                <li>
                    <a href="#support">Contact</a>
                </li>
            </ul>

        </div>


        <div class="column links">
            <h3>Info</h3>
            <ul>
                <li>
                    <a href="#faq">F.A.Q</a>
                </li>
                <li>
                    <a href="#cookies-policy">Profile </a>
                </li>
                <li>
                    <a href="#terms-of-services">Visi & Misi </a>
                </li>
                <li>
                    <a href="#support">Penjualan</a>
                </li>
            </ul>
        </div> #}}

        {{# <div class="column subscribe">
            <h3>Newsletter</h3>
            <div>
                <input type="email" placeholder="Your email id here" />
                <button>Subscribe</button>
            </div>

        </div> #}}

    </div>

    <div class="row copyright">
        <div class="footer-menu">
            <a href="/">Home</a>
            {{ nav:collection:pages }}
                <a href="{{ url }}">{{ title }}</a>
            {{ /nav:collection:pages }}
        </div>
        <p>Copyright &copy; Team Kami Front End Developer</p>
    </div>
</footer>
