<div class="container-xxl py-5 bg-dark hero-header mb-0">
    <div class="container my-0 py-0">
    </div>
</div>

<!--Contact-->

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-item-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img src="{{ glide :src="side_images:0" width="200" height="200" }}" data-wow-delay="0.5s" class="img-fluid rounded wow zoomIn">
                        <img src="{{ glide :src="side_images:1" width="200" height="200" }}" data-wow-delay="0.5s" class="img-fluid rounded wow zoomIn" style="margin-top: 30%">
                    </div>
                    <div class="col-6 text-start">
                        <img src="{{ glide :src="side_images:2" width="200" height="200" }}" data-wow-delay="0.5s" class="img-fluid rounded wow zoomIn">
                        <img src="{{ glide :src="side_images:3" width="200" height="200" }}" data-wow-delay="0.5s" class="img-fluid rounded wow zoomIn" style="margin-top: 30%">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h4 class="section-title ff-secondary text-start text-about fw-normal mb-1"> Contact </h4>

                <a href="tel:123456789"><img src="img/wa.png" width="20"></a>
                <a href="{{ company:facebook }}"><img
                        src="https://i.pinimg.com/originals/15/13/df/1513df9ea311909d18bc53b971bddd72.jpg"
                        width="20"></a>
                <a href="{{ company:instagram }}"><img
                        src="https://cdn.pixabay.com/photo/2021/07/27/08/20/instagram-icon-6496194_1280.png"
                        width="20"></a>

                <h2 class="mb-3 py-3">{{ company:name }}</h2>
                <p class="mb-3">{{ description }}</p>
                <a
                    href="https://www.google.co.id/maps/search/Jalan+Stasiun+Gas+Alam+No.57,+RT.1%2FRW.5,+Sukatani,+Kec.+Tapos,+Kota+Depok,+Jawa+Barat+16454/@-6.3902321,106.8782133,15z/data=!3m1!4b1">
                    <h2><i class="fa fa-map-marker-alt me-2" style="font-size:36px;color:rgb(105, 6, 6)"></i><i class="
                text-map">Jalan Stasiun Gas Alam No.57,
                            RT.1/RW.5, Sukatani, Kec. Tapos, Kota Depok, Jawa Barat 16454</i></h2>
                </a>
                <p class="mb-5 py-5 text-map">{{ company:slogan }}</p>

            </div>
        </div>
    </div>
</div>
