<div class="container-xxl py-5 bg-dark hero-header mb-1">
    <div class="container my-1 py-1">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 aqiqahh1 text-white animated slideInLeft">{{ title }}</i></h1>
                <p class="text-warning animated slideInLeft mb-4 pb-2">{{ sub_title }}</p>
                <p class="text-light animated slideInLeft mb-3 pb-2">{{ company_description }}</p>
                <a href="produk.html" class="btn btn-warning py-sm-3 px-sm-5 me-3 animated slideInLeft">Ayo
                    Pesan Qurban!</a>
                <p></p>
                <p class="text-head-foot foot animated slideInLeft mb-3 pb-2">{{ slogan }}</p>
            </div>
        </div>
    </div>
</div>
